#########
#eclipse#
#########
.settings
.metadata
.project
.classpath

################
# intellij idea#
################
.idea
*.iml
.idea/*

##############################
## gradle ####################
##############################
.gradle
config/scripts/buildSrc/build/
config/scripts/jm-checkout/
config/scripts/buildSrc/out/


#######
#maven#
#######
target/


###############
##  js build
################
yarn.lock
.yarn-integrity

###############
## OS/File-Manager Stuff
###############
.directory
